<!doctype html>
<html lang="pt"> {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<meta name="description" content=""> <title>{{title}}</title>
<link href={% static "bootstrap.min.css" %} rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

 <link href={% static "floating-labels.css" %} rel="stylesheet">
  </head>
  <body>
    <form method="post" enctype="multipart/form-data" class="form-signin">
  
<div class="text-center mb-4">
    
<img class="mb-4" src={% static "favicon.png" %} alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">{{Login_w}}</h1>
    
{% csrf_token %}<p>{{pre_face}}<code>{% if form.errors %}{{form.errors}}{% endif %}</code> </p>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputEmail" value="{{nome}}" class="form-control" name="nome" placeholder="{{nome_p}}" required autofocus>
    <label for="inputEmail">{{nome_p}}</label>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputPassword" value="{{pais}}" name="pais" class="form-control" placeholder="{{pais_p}}" required>
    <label for="inputPassword">{{pais_p}}</label>
  </div> <div class="text-center mb-4">

<input type="tel" value="{{contacto}}" name="contacto" id="inputEmail" class="form-control" placeholder="{{contacto_p}}" required>
    <label for="inputEmail">{{contacto_p}}</label>
 </div> <div class="form-label-group">
    <input type="text" id="inputPassword" value="{{provincia}}" name="provincia" class="form-control" placeholder="{{provincia_p}}" required>
    <label for="inputPassword">{{provincia_p}}</label>
 </div><div class="form-label-group">
<input type="text" id="inputEmail" class="form-control" value="{{localizacao}}" name="localizacao" placeholder="{{localizacao_p}}" required>
    <label for="inputEmail">{{localizacao_p}}</label>
  </div>

 <div class="form-label-group">
    <input type="text" id="inputPassword" class="form-control" name="cidade" value="{{cidade}}" placeholder="{{cidade_p}}" required>
    <label for="inputPassword">{{cidade_p}}</label>
 
</div> <div class="form-label-group"><input type="email" id="inputEmail" class="form-control" name="email" value="{{email}}" placeholder="{{email_p}}">
    <label for="inputEmail">{{email_p}}</label>
  </div>

  <div class="form-label-group">
    <input type="textarea" id="inputPassword" name="sobre" value="{{sobre}}" class="form-control" placeholder="{{sobre_p}}">
    <label for="inputPassword">{{sobre_p}}</label>
 </div> <div class="form-label-group"><input type="file" id="inputEmail" class="form-control" name="imagem" accept="image/*" placeholder="{{imagem_p}}">
    <label for="inputEmail">{{imagem_p}}</label></div>

   
  <div class="checkbox mb-3">
    
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">{{escrever}}</button>
  <p class="mt-5 mb-3 text-muted text-center">{{time|date:"d-m-Y"}}</p>
</form>
</body>
</html>
